# install4j response file for Burp Suite Community Edition 2023.6.2
sys.adminRights$Boolean=false
sys.installationDir=/home/{{ ansible_user_id }}/Documents/BurpSuiteCommunity
sys.languageId=en
sys.programGroupDisabled$Boolean=false
sys.symlinkDir=/home/{{ ansible_user_id }}/.local/bin